body 
{
    background-color: #95E8DD;
    background-image: url("../imagens/teste1234.jpg");
}
#menu .navbar.navbar-default img
{
    float: left;
    margin: -19px;
}

#corpo .table.table-striped.table-hover
{
    margin: 5%;
    width: 90%;
}
#corpo h1 {
    margin: 2% 5%;
    color: #fff;
}    
#corpo h2
{
    color: #fff;
}

#corpo #textIndexADM textArea
{
    width: 1001px;
    height: 81px;
    opacity: 0.678;
    color: black;
    
}

#corpo #iconCorpoADM
{
    margin: 10px 41%;
    color: #fff;
}

#corpo #infos h3
{
   text-align: center;
   color: white;
}

#corpo #tel
{
    text-align: center;
    color: white
}
#corpo img
{
    border: 1px solid #000;
    padding: 36px;
    margin: 11px 3%;
    float: left;
}

#corpo #HorarioADM h1
{
    text-align: center;
}

#corpo #HorarioADM textArea
{
    margin: 0 35%;
    width: 500px;
    height: 100px;
    opacity: 0.678;
}

#corpo #FormUsuario
{
    width: 20%;
    margin: 2% auto;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 2%;
    text-align: center;
}
#corpo #textoQuemSomos textArea
{
    opacity: 0.678;
    width: 80%;
    height: 500px;
    margin: 2% 9%

}

#corpo .noticia
{
    border: solid 1px;
    margin: 2% 6%;
    width: 50%;
    color: white;
}

#corpo .noticia textArea
{
    width: 700px;
    margin: 1%;
    height: 100px;
    opacity: 0.678;
     color: black;
}
#corpo .noticiaServico
{
    border: solid 1px;
    margin: 2% 6%;
    width: 50%;
    color: white;
}
#corpo .noticiaServico img
{
     border: 1px solid #000;
    padding: 50px;
    margin: 15px 3%;
    float: left;
}

#corpo .noticiaServico textArea
{
    width: 700px;
    margin: 1%;
    height: 100px;
    opacity: 0.678;
     color: black;
}
#corpo table
{
      background-color: white;
}
#corpo #textoQuemSomos #inputQS 
{
        margin: 0 40% auto;
}

#corpo #HorarioADM #inputHorarios
{
    margin: 0 42% auto;
}
#corpo div.noticia input
{
     color: black;
}

#corpo div input
{
     color: black;
}


#rodape
{
    margin: 0%;
    text-align: center;
    font-weight: bold;
    color: white;
}

